# constellations that are processed
constellations: ["iridiumNEXT", "eccentric"] # "oneweb", "satnogs" , "starlink"]
# determines if debug configs from omnetpp.ini are used
debug_mode: false
# determines coordinate frames for which sat. pos. csvs will be created
# teme only supported by sgp4 and circular model, as input for kepler model are itrf traces
coord_frames: [ "teme", "itrf", "omnet"] # "wgs84"]

# omnetpp.ini parameters
sim-time-limit: 90

location: "quito"
locations_xml: {"quito": '<location netOffset="-783870.509,769.98" convBoundary="0.00,0.00,750.00,744.98" origBoundary="0.000000,-0.00673331,0,00673334,0.000000" projParameter="+proj=utm +zone=17 +ellps=WGS84 +datum=WGS84 +units=m +no_defs"/>',
                "sofia": '<location netOffset="-690046.256,4730695.736" convBoundary="0.00,0.00,750.00,744.98" origBoundary="0.000000,-0.00688919,0.00889866,0.000000" projParameter="+proj=utm +zone=34 +ellps=WGS84 +datum=WGS84 +units=m +no_defs"/>',
                "kunlun": '<location netOffset="-3039483,-2236990.02" convBoundary="0.00,0.00,750.00,744.98" origBoundary="0.000000,-0.005062,0.047989,0.000000" projParameter="+proj=ups +ellps=WGS84 +x_0=2000000 +y_0=2000000 +south" />'}